@model Phonebook.ViewModels.Record.RecordViewModel

<h2>Update</h2>
<form asp-controller="Home" asp-action="Update" method="post">
	<div class="form-group">
		<label for="Id">Id</label>
		<input asp-for="Id" class="form-control" placeholder="Id" disabled/>
	</div>
	<div class="form-group">
		<label for="Phone">Phone</label>
		<input asp-for="Phone" class="form-control" placeholder="Phone" />
	</div>
	<div class="form-group">
		<label for="Name">Name</label>
		<input asp-for="Name" class="form-control" placeholder="Name" />
	</div>

	<input type="submit" class="btn btn-success" value="Update" />
</form>
